*{
	margin:0px;
	padding:0px;
	
}
body{
	background-image:url(file:///C|/Users/NiralaTech/Documents/Unnamed%20Site%202/sss.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	}
	
.abc{
	margin-top:50px;}



#custom-search-input {
        margin:0;
        margin-top: 100px;
        padding: 0;
	
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
	
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;
		  
    }


/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 100px;
	font-size:15px;
    border-bottom: 0px;
	background-color:#000;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}
h2{
	font-size:40px;
	color:#FC0;}
.content{
	background:#FFF;
	border:1px solid #666;
	height:600px;}
.pag{
	text-align:justify;
	width:1000px;
	margin-left:60px;
	line-height:25px;
	font-size:15px;}







@media (max-width: 992px) {
  body
  {
   
		
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

}



